<div *ngIf="attribution">
  <div class="container">
    <div class="col s12">
      <div class="input-field">
        <input id="search" type="search" [(ngModel)]="query" (keyup.enter)="search(query)" placeholder="Search Ex. Soup">
      </div>
      <div class="row">
        <a class="right" (click)="showAdvance = !showAdvance">Advance Search</a>
      </div>
      <div class="row" *ngIf="showAdvance">
        <div class="row">
          <div class="col s10">
            <input type="text" placeholder="Search by ingredients" [(ngModel)]="ingredient" (keyup.enter)="addIngredient(ingredient)">
          </div>
          <div class="col s2">
            <button class="btn" (click)="addIngredient(ingredient)">Add</button>
          </div>

        </div>

        <ul class="collection" *ngIf="ingredients.length > 0">
          <li class="collection-item" *ngFor="let ingredient of ingredients">
              <i class="material-icons right" (click)="removeIngredient(ingredient)">close</i>
            <span>{{ingredient}}</span>
          </li>
        </ul>

      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col s12 m6 l3" *ngFor="let recipe of recipesObservable | async">
          <div class="card hoverable" [routerLink]="recipe.id">
            <div class="card-image waves-effect waves-block waves-light ">
              <img class="" [src]="recipe.smallImageUrls[0]">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4 truncate" [title]="recipe.recipeName">{{recipe.recipeName}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div>
            <img [src]="attribution.logo" alt="">
          </div>
          <a class="white-text" [href]="attribution?.url">{{attribution?.text}} </a>
        </div>
      </div>
    </div>
  </footer>
</div>