.collection{
    border: 1px solid #689f38;
}
.collection-item{
    border-bottom:  1px solid #689f38;
    background-color: #f5f5f5;
}
.ingredientSearch:active{
    border-color: #689f38;
}
 .ingredientSearch:valid{
    border-color: #689f38;
}
